html, 
body{
  width: 100%;
  color: #4a3e3e;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 2;  
  margin-left: 2%;
}
#navbar {
  width: 20%;
  background-color: #f8f4f4;
  color: white;
  padding: 10px; 
  color: #1b1616;  
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  width: 200px;
}

#navbar header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#navbar ul {
  list-style: none;
  margin-bottom: 1rem;
}

#navbar li {
  margin-bottom: 0.5rem;
}

#navbar a {
  color: #241f1f;
  text-decoration: none;
}

#navbar a:hover {
  text-decoration: underline; 
}
 
#main-doc { 
  padding: 1rem;  
  width: 80%; 
  margin-left: 12%;
} 

.main-section {
  margin-bottom: 2rem;
}

.main-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-section p {
  margin-bottom: 1rem;
}

.main-section ul {
  list-style: disc;
  margin-bottom: 1rem;
}

.main-section code {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Consolas, monospace;
  padding: 0.5rem;
}
